<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Fit Logs - Track, Measure, Grow</h1>
    <p class="lead">Track your workouts and measure your progress.</p>
    <div *ngIf="!authService.loggedIn()" class="btn btn-primary btn-lg" (click)="registerModeToggle()">Register</div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode()"></app-register>
      </div>
    </div>
  </div>
</div>
