<div class="row">
  <div class="col-6">
      <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Workout Log</h1>
            <button class="btn-success" (click)="addEntry()">Log a new workout</button>
            </div>
          </div>
        </div>
    <div class="col-6">
      <app-usersummary></app-usersummary>
  </div>
</div>
<div class="pt-3 pb-3">
  <app-entry *ngFor="let e of entries" [thisEntry]="e" (delete)="deleteEntry($event)"></app-entry>
</div>
